<ion-header>
  <ion-toolbar color="dark" class="barra">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/criarcena">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Cenas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let cenas of cenas">
    <div class="buttons">
      <ion-button class="bot" fill="outline" (click)="enviarCena(cenas._id)"
        >{{cenas.name}}</ion-button
      >
      <ion-button
        class="delCena"
        fill="outline"
        color="danger"
        (click)="deletarCena(cenas._id)"
        ><ion-icon name="close" class="icon"></ion-icon
      ></ion-button>
    </div>
  </div>
</ion-content>
