.background {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    172deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 89, 145, 1) 0%,
    rgba(90, 6, 128, 1) 59%
  );
  height: 100%;
  width: 100%;
  padding: 15px;
}

.barra {
  color: whitesmoke;
}

.buttons {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  flex-direction: row;
  border-width: 1px;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rba(0, 0, 0, 0.15);
  padding: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  margin-top: 5px;
}

.toggle {
  --background: lightgrey;
}

.letra {
  float: right;
  color: whitesmoke;
  width: 50%;
}

.close {
  width: 170px;
}
