.teste {
  width: 180px;
  flex-direction: row;
  border-width: 1px;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rba(0, 0, 0, 0.15);
  padding: 10px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.x1 {
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.x12 {
  text-align: left;
}

.x13 {
  background-color: rgba(0, 0, 0, 0.33);
  flex: 1;
  display: flex;
  height: 100%;
}

.x2 {
  width: 35px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bulb {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
}

.secondWord {
  color: #949494;
}
