<ion-content>
  <div class="background">
    <div class="ajust"></div>
    <div class="menu">
      <img src="assets/Logo - PEX AUTOMAÇÃO.png" classe="logo" width="220px" />

      <ion-input
        placeholder="Usuário"
        class="input"
        [(ngModel)]="username"
      ></ion-input>

      <ion-input
        placeholder="Senha"
        class="input"
        type="password"
        [(ngModel)]="password"
      ></ion-input>

      <ion-button (click)="login()" class="button" expand="block" fill="outline"
        >Login</ion-button
      >
    </div>
  </div>
</ion-content>
