<ion-content padding class="background">
  <div class="ajust"></div>
  <div class="menu">
    <ion-list>
      <ion-item>
        <ion-input
          placeholder="Username"
          [(ngModel)]="username"
          class="texto"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="Password"
          type="password"
          [(ngModel)]="password"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button (click)="login()" class="button" expand="block" fill="outline"
      >Login</ion-button
    >
  </div>
</ion-content>
